*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 15px;
	font-family: century gothic;
}
.sample{
	height: 150px;
	width: 150px;
	border: 2px solid #139487;
	background-color: #86C6F4;
	
}

#box1{
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 2px solid black;
	background-color: #C1F4C5;
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;
}
#box2{
	height: 150px;
	width: 150px;
	padding: 50px;
	border: 2px solid #FF7BA9;
	background-color: #FFBED8;
	margin-right: 30px;
	display: inline-block;
	vertical-align: top;

}