* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Century Gothic";
	background-color: #F0F0F0;
}

/*nav bar*/

nav {
	/*padding: 0.5rem;*/
	/*margin-bottom: 0.5rem;*/
	/*border-bottom: 2px solid #03045E;*/
	background-color: #1572A1;

}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
	background-color: #CAF0F8;
}
#intro h3, #intro p{
	margin-bottom: 1rem;

}
#intro p{
	font-size: 50px;
	font-weight: bold;
}
#intro button{
	color: white;
	font-weight: bold;
	background-color: #03045E;
	border-radius: 25px;
	font-size: 1rem;
	padding: 0.7rem;
	cursor: pointer;
	width: 150px;
	 border: none;
}
nav > ul {
	list-style-type: none;
	color: white;
	font-size: 17px;
	font-weight: bold;
}
nav >ul >li{
	padding-right: 1rem;
	padding-left: 1rem;
	cursor: pointer;
}

nav .nav, nav .nav-logo {
	margin: 0.2rem;
	display: inline-block;
	vertical-align: middle;
}

#learn-info h2{
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}
#learn-info h3{
	margin-top: 1rem;
	margin-bottom: 1rem;
	text-align: center;
	font-size: 25px;
	color: #1572A1;
}
#learn-info .header{
	color: #313552;
	font-size: 30px;
	font-weight: bold;
}

#all-cards{
	margin-left: 16.5%;
	
}
img{
	display: block;
margin-left: auto;
    margin-right: auto;
}

#learn-info .card{
	display: inline-block;
	vertical-align: middle;
	justify-content: center;
	align-content: center;
	height: 420px;
	width:320px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
  	background-color: white;
  	border-radius: 25px;
}
#learn-info .btncard{
	color: white;
	font-weight: bold;
	background-color: #1572A1;
	border-radius: 10px;
	font-size: 1rem;
	padding: 0.7rem;
	cursor: pointer;
	width: 100px;
	display: block;
	margin-left: auto;
    margin-right: auto;
    border: none;
   
}


#pre-footer{
	margin-top: 2rem;
	padding: .75rem;
	background-color: #00B4D8;
	color: white;
}
#pre-footer > div{
	display: inline-block;
	width: 20%;
	vertical-align: top;
}

#pre-footer > div > *{
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}
